.block-radio {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E8E8E8;
  border-radius: 13px;
  opacity: 1;
  width: 78px;
  height: 68px;
}

.block-radio-active {
  background: #616161 0% 0% no-repeat padding-box;
}

.label-text {
  font-style: 10px;
  margin-top: 10px;
}