@font-face {
  font-family: 'Open Sans Hebrew Bold';
  src: local('Open Sans Hebrew Bold'), url('../assets/fonts/open-sans-hebrew/OpenSansHebrew-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Hebrew Regular';
  src: local('OpenSansHebrew-Regular'), url('../assets/fonts/open-sans-hebrew/OpenSansHebrew-Regular.ttf') format('truetype');
}
