body {
  font-family: "Open Sans Hebrew Regular";
  font-weight: 400;
}
.fill {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.fill100 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
}

.rowStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.rowEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rowFill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rowFillWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}
.sb {
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.columnStart {
  display: flex;
  flex-direction: column;
}

.columnJustifyEnd {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.columnAlignEnd {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.rowAlignEnd {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.w100 {
  width: 100%;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.cursor {
  cursor: pointer;
}
