.layout-custom-load {
  border-top: 1px solid #000;
}

.title {
  font-weight: 700;
  font-style: 18px;
  font-family: 'Open Sans Hebrew Bold';
}

.title-container {
  margin-bottom: 10px;
  margin-top: 30px;
}

.btn-submit {
  width: 30%;
}

.title-label {
  font-family: 'Open Sans Hebrew Bold';
  font-weight: 700;
}

.title-label-container {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 5px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-0 {
  margin-right: 0;
}

.fns-18 {
  font-size: 18px;
}

.title-page-container {
  margin-bottom: 23px;
  margin-top: 23px;
}

.title-page {
  font-size: 18px;
  font-family: 'Open Sans Hebrew Bold';
  font-weight: 700;
}

.ml-34 {
  margin-left: 34px;
} 

.pr-34 {
  padding-right: 34px;
}
