.label-accordion {
    font-size: 18px;
    font-family: 'Open Sans Hebrew Bold';
    font-weight: 700;
}

.Mui-expanded {
    transform: rotate(0) !important;
}

.rotate-expand {
    transform: rotate(90deg);
}

.Mui-expanded .rotate-expand {
    transform: rotate(360deg);
}

.icon-accordion {
    margin-right: 20px;
}

.container-radio .MuiTypography-root {
    font-family: 'Open Sans Hebrew Bold';
    font-size: 13px;
}

.separate-block {
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
}

.change-position-text {
    font-family: 'Open Sans Hebrew Regular';
    font-weight: 400;
}

.sm-input > div > input {
    height: 20px !important;
    padding: 5.5px 14px !important;
    font-size: 12px !important;
}

.label-sm-inp {
    font-family: 'Open Sans Hebrew Bold';
}

.layout-custom-panel {
    padding-left: 30px;
    padding-right: 30px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-11 {
    margin-left: 11px;
}

.mt-15 {
    margin-top: 15px;
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-13 {
    margin-top: 13px;
}

.mt-21 {
    margin-top: 21px;
}

.ml-27 {
    margin-left: 27px;
}

.mt-6 {
    margin-top: 6px;
}

@media screen and (max-width: 1330px) {
    .column-middle {
        flex-direction: column;
        // margin-left: 10px;
        .ml-11 {
            margin-left: 0;
        }
        .ml-middle {
            margin-bottom: 10px;
            margin-left: 5px;
        }
    }
}
