.header-container {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 80px;
}

.header-proggress-line {
  width: 100%;
  height: 4px;
  background: #707070;
  position: relative;
}

.header-container-proggress {
  display: flex;
  flex: 0.7;
}

.list-circle {
  position: absolute;
  top: -4px;
  width: 100%;
}

.circle-proggress {
  width: 11px;
  height: 11px;
  background: #676767;
  border-radius: 100px;
}

.item-proggress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-proggress-complete {
  width: 17.68px;
  height: 17.68px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -2px;
}

.circle-current-step {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #F7941D 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: -6px;
}

.header-element {
  display: flex;
  flex: 0.2;
}

.proggress-header-title {
  font-family: 'Open Sans Hebrew Bold';
  font-weight: 700;
  margin-top: 13px;
}
